{{if not (and .IgnoreMode .IgnoreOwner .IgnoreSize .IgnoreTime .IgnoreRemain)}}
{{if not .IgnoreMode}}Mode: {{.Mode}}{{end}}
{{if not .IgnoreOwner}}Owner: {{.Owner}}{{end}}
{{if not .IgnoreSize}}Size: {{.Size}}{{end}}
{{if not .IgnoreTime}}TimeStamp: {{.TimeStamp.Format "2006-01-02 15:04"}}{{end}}
{{if not .IgnoreRemain}}Remaining: {{.Remaining}}{{end}}
{{end}}